.item{
    width:100px;
    height: 60px;
    padding: 10px;
    border: 1px solid #000;
    color:rgb(17, 136, 175);
    cursor: pointer;
    margin: 10px;
}
.item.disabled{
    color:#ccc;
    cursor: not-allowed;
}
.item.active{
    border: none;
    color:#f40;
}
div{
    margin-top: 30px;
}